@page
@model ChocoShop.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}
<section id="main">
    <h1>About ChocoShop</h1>
    <p>
        ChocoShop is the place to find the best imported chocolate in Bandung.
        We provide several well-known brands of chocolate that do not exist or may even be rare in Indonesia.
        We directly import well-known chocolates from abroad.
        We have selected the chocolate that we import based on a survey that we have previously made.
        Of course, the chocolate we import has guaranteed quality and a long expiration date.
        Of course, we also sell imported chocolate at a much more affordable price than other imported chocolate shops in Indonesia.
        We provide an online platform for anyone who wants to buy our chocolate.
        Our service is open all day long, all you have to do is buy from your home via this website and we will send it to your home.
    </p>
</section>
